body{
    padding: 0px;
    margin: 0px;
}
.main{
    background-color: #fae3c3;
    padding: 10px 20px 10px 20px;
}
.lona{
    background-color: #ba6060;
    display: flex;
    padding: 10px;
}
.logo{
    margin-bottom: 5px;
    padding-left: 5px;
    flex: 1;
}
.nav{
    padding-right: 5px;
}
.box1{
    background-color: #d9a2de;
    display: block;
    flex: 1;
    column-gap: 3;
    height: 150px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2{
    background-color: #d9a2de;
    display: block;
    flex: 1;
    column-gap: 3;
    height: 150px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box3{
    background-color: #d9a2de;
    display: block;
    flex: 1;
    column-gap: 3;
    height: 150px;
    margin-top: 10px;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    background-color: #98da80;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}